@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

:root{
   --transition-duration: 300ms;
}

.main-container {
   min-height: 100svh;
   display: grid;
   place-items: center;
}

.card {
   position: relative;
   width: 100px;
   height: 350px;
   background: blue;
   overflow: hidden;
   border-radius: .5rem;
   transition: all var(--transition-duration) ease-in-out;
}
.card:hover{
   width: 200px;
}
.card:hover > .card-image{
   transform: scale(1.2);
}
.card-image {
   width: 100%;
   height: 100%;
   filter: grayscale(100%);
   transition: var(--transition-duration);
   object-fit: cover;
}
.card-content {
   position: absolute;
   padding: .8rem;
   bottom: 0;
   color:white;
   height: 100%;
   display: flex;
   justify-content: end;
   flex-direction: column;
   background-image: linear-gradient(transparent, rgba(0,0,0,0.5));  
   transition: all var(--transition-duration) ease-in-out;
   transform: translateY(10%);
   opacity: 0;
   user-select: none;
   pointer-events: none;
}

.card:hover .card-content{
   transform: translateY(0);
   opacity: 1;
   user-select: inherit;
   pointer-events: inherit;
}
.card:hover .card-image{
   filter: grayscale(0);
}
.card-container{
   display: flex;
   gap: .6rem;
   /* flex-wrap: wrap; */
   justify-content: center;
   align-items: center;
}

.card-title{
   min-width: fit-content;
   text-transform: capitalize;
   font-size: 2rem;
}

.profile-information{
   columns: 3;
   gap: 1rem;
   text-align: center;
}